/* Nhúng style scrollbar ốm màu xám trong suốt. Xuất hiện 2 đầu mũi tên trên scrollbar */

/* Chrome, Edge, Safari */
.player-container::-webkit-scrollbar,
.lyrics::-webkit-scrollbar,
.player-container iframe::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.player-container::-webkit-scrollbar-track,
.lyrics::-webkit-scrollbar-track,
.player-container iframe::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.player-container::-webkit-scrollbar-thumb,
.lyrics::-webkit-scrollbar-thumb,
.player-container iframe::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.6);
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

.player-container::-webkit-scrollbar-thumb:hover,
.lyrics::-webkit-scrollbar-thumb:hover,
.player-container iframe::-webkit-scrollbar-thumb:hover {
  background-color: rgba(136, 136, 136, 0.9);
}
